*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("/images/GettyImages-680790634.png");
  background-size: cover;
  position: relative;
  padding: 1rem;
}

main::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 254, 250, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  height: 80%;
  max-width: 500px;
  width: min(90%, 500px);
  padding: clamp(1.5rem, 6vw, 3rem);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #3a2419;
}

.error {
  color: rgb(211, 1, 1);
  font-size: 0.813rem;
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
  color: #4e3326;
  font-size: 0.875rem;
  font-weight: 600;
}

input {
  padding: 0.5rem;
  border-radius: 5rem;
  border: none;
  margin-bottom: 1rem;
}

input::placeholder {
  color: #4e332699;
}

button[type="submit"] {
  color: white;
  background-color: #4e3326;
  border-radius: 5rem;
  border: none;
  padding: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4e332699;
}

.auth-switch a {
  color: #582a14;
  font-weight: bold;
}

@media (max-width: 768px) {
  label {
    margin-bottom: 0.3rem;
  }
  input {
    margin-bottom: 0.6rem;
  }
  .auth-switch {
    font-size: 0.875rem;
  }
}
